In [45]:
import numpy as np
import pandas as pd

from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, make_scorer

In [46]:
# 2. Load dataset (Wine Quality dataset from UCI)
# Dataset link: https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"
data = pd.read_csv(url, sep=';')

In [47]:
data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [48]:
X = data.drop('quality', axis=1)
y = data['quality']   # Numeric â†’ Regression

In [49]:
model = LinearRegression()
kf = KFold(n_splits=5, shuffle=True, random_state=42)

In [50]:
scoring = make_scorer(mean_squared_error, greater_is_better=False)

In [51]:
cv_scores = cross_val_score(
    model,
    X,
    y,
    cv=kf,
    scoring=scoring
)

In [52]:
print("Negative MSE for each fold:")
print(cv_scores)

print("\nMean Squared Error (Average):")
print(-cv_scores.mean())

Negative MSE for each fold:
[-0.39002514 -0.46758029 -0.48341328 -0.45494133 -0.34785364]

Mean Squared Error (Average):
0.4287627355554059

In [53]:
rmse = np.sqrt(-cv_scores.mean())
print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 0.6547997675285215

In [54]:
mse_scores = []

for train_index, test_index in kf.split(X):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

    model.fit(X_train, y_train)
    predictions = model.predict(X_test)

    mse = mean_squared_error(y_test, predictions)
    mse_scores.append(mse)

print("Manual K-Fold MSE Scores:", mse_scores)
print("Average MSE:", np.mean(mse_scores))

Manual K-Fold MSE Scores: [0.39002514396395416, 0.4675802850121699, 0.4834132842134976, 0.4549413281517337, 0.3478536364356743]
Average MSE: 0.4287627355554059